.center {
    display: block;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    width: 50%;
  }

  html {
    font-family: sans-serif;
  }
  
.cisla {
  text-align: center;
  font-size: larger;
  font-weight: bolder;

}

.dal{

  text-align: center;
  font-size: larger;
  font-weight: bolder;

}

.mama {

border-bottom: dotted black;


}

.nad{

text-align: center;
font-weight: bolder;

}

  table {
    border-collapse: collapse;
    width: 31%;
    border-bottom: dotted black;
    display: block;
    letter-spacing: 1px;
    font-size: 1rem;
  }


  td {
    border-right: dotted black;
    padding: 3px 35px;
  }

  th {

    text-align: center;
    padding: 10px 35px;
    font-weight: bolder;

  }
  
  td {
    text-align: center;
  }

  
  caption {
    padding: 10px;
  }